In [34]:
import pandas as pd

In [35]:
csv_path = 'GoalsandAssists.csv'
data = pd.read_csv(csv_path)
data.head()

,Year,Name,Position,Age,Club Name,League Name,Matches Played,Goals,Assists,Points
0,1974,Gerd Müller,Centre-Forward,28,Bayern Munich,Bundesliga,33,23,13,36
1,1974,Jupp Heynckes,Centre-Forward,29,Bor. M'gladbach,Bundesliga,31,27,4,31
2,1974,Delio Onnis,Centre-Forward,26,Monaco,Ligue 1,37,30,0,30
3,1974,Dieter Müller,Centre-Forward,20,1.FC Köln,Bundesliga,34,24,4,28
4,1974,Willi Lippens,Left Winger,28,RW Essen,3. Liga,34,15,11,26

In [36]:
ligas = data['League Name'].unique()
ligas

array(['Bundesliga', 'Ligue 1', '3. Liga', '2. Bundesliga',
       'Regionalliga Südwest', 'Serie A', 'Ligue 2', 'LaLiga',
       'Championnat National', 'NOFV-Oberliga Nord', 'LaLiga2', 'France',
       'Serie C - A', 'Oberliga Niederrhein', 'Serie C - B',
       'National 3 - Grp. C', 'Serie B', 'National 2 - Grp. A',
       'National 2 - Grp. C', 'Oberliga Westfalen', 'Serie C - C',
       'Spain', 'Premier League', 'Primera Federación - Gr. I',
       'Championship', 'League Two', 'Segunda Federación - Gr. I',
       'League One', 'Serie D - B', 'Liga Portugal',
       'Primera Federación - Gr. II', 'Regionalliga Nordost',
       'Liga Sabseg', 'Italy', 'Portugal', 'Liga 3', 'Serie D - E',
       'Serie D - I'], dtype=object)

In [37]:
ligas_anadir = {
    'Bundesliga': 'Alemania',
    'Ligue 1': 'Francia',
    '3. Liga': 'Alemania',
    '2. Bundesliga': 'Alemania',
    'Regionalliga Südwest': 'Alemania',
    'Serie A': 'Italia',
    'Ligue 2': 'Francia',
    'LaLiga': 'España',
    'Championnat National': 'Francia',
    'NOFV-Oberliga Nord': 'Alemania',
    'LaLiga2': 'España',
    'France': 'Francia',
    'Serie C - A': 'Italia',
    'Oberliga Niederrhein': 'Alemania',
    'Serie C - B': 'Italia',
    'National 3 - Grp. C': 'Francia',
    'Serie B': 'Alemania',
    'National 2 - Grp. A': 'Francia',
    'National 2 - Grp. C': 'Francia',
    'Oberliga Westfalen': 'Alemania',
    'Serie C - C': 'Italia',
    'Spain': 'España',
    'Premier League': 'Inglaterra',
    'Primera Federación - Gr. I': 'España',
    'Championship': 'Inglaterra',
    'League Two': 'Inglaterra',
    'Segunda Federación - Gr. I': 'España',
    'League One': 'Inglaterra',
    'Serie D - B': 'Italia',
    'Liga Portugal': 'Portugal',
    'Primera Federación - Gr. II': 'España',
    'Regionalliga Nordost': 'Alemania',
    'Liga Sabseg': 'Portugal',
    'Italy': 'Italia',
    'Portugal': 'Portugal',
    'Liga 3': 'España',
    'Serie D - E': 'Italia',
    'Serie D - I': 'Italia',
}
data['League Country'] = data['League Name'].map(ligas_anadir)
data['Goal Participation Per Match'] = data['Points']/data['Matches Played']
data['Goal Ratio'] = data['Goals']/data['Matches Played']

In [38]:
data.head()

,Year,Name,Position,Age,Club Name,League Name,Matches Played,Goals,Assists,Points,League Country,Goal Participation Per Match,Goal Ratio
0,1974,Gerd Müller,Centre-Forward,28,Bayern Munich,Bundesliga,33,23,13,36,Alemania,1.090909,0.696970
1,1974,Jupp Heynckes,Centre-Forward,29,Bor. M'gladbach,Bundesliga,31,27,4,31,Alemania,1.000000,0.870968
2,1974,Delio Onnis,Centre-Forward,26,Monaco,Ligue 1,37,30,0,30,Francia,0.810811,0.810811
3,1974,Dieter Müller,Centre-Forward,20,1.FC Köln,Bundesliga,34,24,4,28,Alemania,0.823529,0.705882
4,1974,Willi Lippens,Left Winger,28,RW Essen,3. Liga,34,15,11,26,Alemania,0.764706,0.441176

In [39]:
top10clubAssistants = data.sort_values(by='Assists', ascending=False).head(10)
top10clubAssistants

,Year,Name,Position,Age,Club Name,League Name,Matches Played,Goals,Assists,Points,League Country,Goal Participation Per Match,Goal Ratio
1323,2002,Thierry Henry,Centre-Forward,24,Arsenal,Premier League,37,24,25,49,Inglaterra,1.324324,0.648649
1584,2008,Xavi,Central Midfield,28,Barcelona,LaLiga,35,6,23,29,España,0.828571,0.171429
2122,2019,Lionel Messi,Right Winger,32,Barcelona,LaLiga,33,25,22,47,España,1.424242,0.757576
1987,2016,Emil Forsberg,Attacking Midfield,24,RB Leipzig,Bundesliga,30,8,22,30,Alemania,1.000000,0.266667
1879,2014,Kevin De Bruyne,Attacking Midfield,23,VfL Wolfsburg,Bundesliga,34,10,21,31,Alemania,0.911765,0.294118
2181,2020,Thomas Müller,Second Striker,30,Bayern Munich,Bundesliga,32,11,21,32,Alemania,1.000000,0.343750
1881,2014,Dimitri Payet,Attacking Midfield,27,Marseille,Ligue 1,36,7,21,28,Francia,0.777778,0.194444
1649,2009,Lionel Messi,Right Winger,23,Barcelona,LaLiga,33,31,21,52,España,1.575758,0.939394
1874,2014,Lionel Messi,Right Winger,27,Barcelona,LaLiga,38,43,21,64,España,1.684211,1.131579
1708,2010,Franck Ribéry,Left Winger,28,Bayern Munich,Bundesliga,32,12,21,33,Alemania,1.031250,0.375000

In [40]:
top10clubBallers = data.sort_values(by='Goals',ascending=False).head(10)
top10clubBallers

,Year,Name,Position,Age,Club Name,League Name,Matches Played,Goals,Assists,Points,League Country,Goal Participation Per Match,Goal Ratio
1698,2010,Lionel Messi,Right Winger,24,Barcelona,LaLiga,37,50,19,69,España,1.864865,1.351351
1873,2014,Cristiano Ronaldo,Centre-Forward,29,Real Madrid,LaLiga,35,48,17,65,España,1.857143,1.371429
1773,2012,Lionel Messi,Right Winger,25,Barcelona,LaLiga,32,46,13,59,España,1.843750,1.437500
1748,2011,Lionel Messi,Right Winger,25,Barcelona,LaLiga,32,46,13,59,España,1.843750,1.437500
1699,2010,Cristiano Ronaldo,Centre-Forward,26,Real Madrid,LaLiga,38,46,12,58,España,1.526316,1.210526
1874,2014,Lionel Messi,Right Winger,27,Barcelona,LaLiga,38,43,21,64,España,1.684211,1.131579
1273,2001,Jardel,Centre-Forward,27,Sporting CP,Liga Portugal,30,42,5,47,Portugal,1.566667,1.400000
2172,2020,Robert Lewandowski,Centre-Forward,31,Bayern Munich,Bundesliga,29,41,7,48,Alemania,1.655172,1.413793
1648,2009,Cristiano Ronaldo,Centre-Forward,25,Real Madrid,LaLiga,34,40,13,53,España,1.558824,1.176471
1922,2015,Luis Suárez,Centre-Forward,28,Barcelona,LaLiga,35,40,18,58,España,1.657143,1.142857

In [41]:
filtered_data  = data.sort_values(by='Goal Participation Per Match',ascending=False)
sorted_data = filtered_data[filtered_data['Matches Played']>30]

unique_players = sorted_data.drop_duplicates(subset='Name')

# Seleccionar el top 10 jugadores
top10_gppm = unique_players.head(10)
top10_gppm

,Year,Name,Position,Age,Club Name,League Name,Matches Played,Goals,Assists,Points,League Country,Goal Participation Per Match,Goal Ratio
1698,2010,Lionel Messi,Right Winger,24,Barcelona,LaLiga,37,50,19,69,España,1.864865,1.351351
1873,2014,Cristiano Ronaldo,Centre-Forward,29,Real Madrid,LaLiga,35,48,17,65,España,1.857143,1.371429
1922,2015,Luis Suárez,Centre-Forward,28,Barcelona,LaLiga,35,40,18,58,España,1.657143,1.142857
1923,2015,Zlatan Ibrahimović,Centre-Forward,33,Paris SG,Ligue 1,31,38,13,51,Francia,1.645161,1.225806
1925,2015,Jonas,Second Striker,31,Benfica,Liga Portugal,34,32,14,46,Portugal,1.352941,0.941176
2222,2021,Kylian Mbappé,Centre-Forward,22,Paris SG,Ligue 1,35,28,19,47,Francia,1.342857,0.800000
1323,2002,Thierry Henry,Centre-Forward,24,Arsenal,Premier League,37,24,25,49,Inglaterra,1.324324,0.648649
1624,2009,Didier Drogba,Centre-Forward,31,Chelsea,Premier League,32,29,13,42,Inglaterra,1.312500,0.906250
1573,2008,Diego Forlán,Centre-Forward,29,Atlético Madrid,LaLiga,33,32,10,42,España,1.272727,0.969697
2272,2022,Erling Haaland,Centre-Forward,21,Man City,Premier League,35,36,8,44,Inglaterra,1.257143,1.028571

In [42]:
nuevo_df = data[data['Name'].isin(top10_gppm['Name'])]
nuevo_df

,Year,Name,Position,Age,Club Name,League Name,Matches Played,Goals,Assists,Points,League Country,Goal Participation Per Match,Goal Ratio
1206,1999,Thierry Henry,Centre-Forward,21,Arsenal,Premier League,31,17,8,25,Inglaterra,0.806452,0.548387
1257,2000,Thierry Henry,Centre-Forward,22,Arsenal,Premier League,35,17,9,26,Inglaterra,0.742857,0.485714
1275,2001,Thierry Henry,Centre-Forward,23,Arsenal,Premier League,33,24,6,30,Inglaterra,0.909091,0.727273
1323,2002,Thierry Henry,Centre-Forward,24,Arsenal,Premier League,37,24,25,49,Inglaterra,1.324324,0.648649
1354,2002,Didier Drogba,Centre-Forward,24,Guingamp,Ligue 2,34,17,3,20,Francia,0.588235,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2272,2022,Erling Haaland,Centre-Forward,21,Man City,Premier League,35,36,8,44,Inglaterra,1.257143,1.028571
2273,2022,Kylian Mbappé,Centre-Forward,23,Paris SG,Ligue 1,34,29,6,35,Francia,1.029412,0.852941
2276,2022,Lionel Messi,Right Winger,35,Paris SG,Ligue 1,32,16,16,32,Francia,1.000000,0.500000
2323,2023,Erling Haaland,Centre-Forward,23,Man City,Premier League,5,7,1,8,Inglaterra,1.600000,1.400000
2324,2023,Kylian Mbappé,Centre-Forward,24,Paris SG,Ligue 1,4,7,0,7,Francia,1.750000,1.750000

In [43]:
dataset_grafico = nuevo_df.pivot_table(index='Year',columns='Name',values='Goal Participation Per Match')
dataset_grafico

Name,Cristiano Ronaldo,Didier Drogba,Diego Forlán,Erling Haaland,Jonas,Kylian Mbappé,Lionel Messi,Luis Suárez,Thierry Henry,Zlatan Ibrahimović
Year,,,,,,,,,,
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.806452,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.742857,NaN
2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.909091,NaN
2002,NaN,0.588235,NaN,NaN,NaN,NaN,NaN,NaN,1.324324,NaN
2003,NaN,0.742857,NaN,NaN,NaN,NaN,NaN,NaN,0.972973,NaN
2004,NaN,NaN,0.666667,NaN,NaN,NaN,NaN,NaN,1.218750,0.685714
2005,NaN,0.931034,NaN,NaN,NaN,NaN,NaN,NaN,1.093750,NaN
2006,0.735294,0.666667,0.555556,NaN,NaN,NaN,NaN,NaN,NaN,0.777778
2007,1.117647,NaN,NaN,NaN,NaN,NaN,0.857143,NaN,NaN,1.038462
2008,0.757576,NaN,1.272727,NaN,NaN,NaN,1.161290,NaN,0.896552,0.914286
2009,1.382860,1.312500,0.757576,NaN,NaN,NaN,1.430736,NaN,NaN,0.879310
2010,1.526316,0.722222,NaN,NaN,NaN,NaN,1.864865,NaN,NaN,1.125000
2011,1.323529,NaN,NaN,NaN,NaN,NaN,1.843750,1.030303,NaN,1.176471
2012,1.323529,NaN,NaN,NaN,NaN,NaN,1.843750,1.030303,NaN,1.176471
2013,1.400000,NaN,NaN,NaN,NaN,NaN,1.258065,1.454545,NaN,1.242424
2014,1.857143,NaN,NaN,NaN,0.962963,NaN,1.684211,1.185185,NaN,1.041667
2015,1.277778,NaN,NaN,NaN,1.352941,NaN,1.272727,1.657143,NaN,1.645161
2016,1.068966,NaN,NaN,NaN,NaN,0.896552,1.441176,1.228571,NaN,0.785714
2017,1.148148,NaN,NaN,NaN,1.333333,NaN,1.333333,1.151515,NaN,NaN
2018,0.967742,NaN,NaN,NaN,NaN,1.448276,1.470588,0.818182,NaN,NaN
2019,1.121212,NaN,NaN,NaN,NaN,1.250000,1.424242,0.857143,NaN,NaN
2020,0.939394,NaN,NaN,1.250000,NaN,1.096774,1.171429,0.750000,NaN,NaN
2021,0.677419,NaN,NaN,1.250000,NaN,1.342857,0.807692,NaN,NaN,NaN
2022,NaN,NaN,NaN,1.257143,NaN,1.029412,1.000000,NaN,NaN,NaN
2023,NaN,NaN,NaN,1.600000,NaN,1.750000,NaN,NaN,NaN,NaN

In [44]:
dataset_grafico.to_csv('dataset_grafico.csv')